body {
    font-size: 18px;
    line-height: 1.5;
}

header, nav, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header, footer {
    border-radius: 25px;
    background-color: purple;
    color: #fff;
    text-align: center;
}

header, footer {
    padding: 1.5rem;
}

#profilepic {
    float: right;
    width: 25%;
    height: 25%px;
    position: relative; top: -100px;
} 

hr {

}

footer {
    text-align: center;
    ;
}