@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700|Merriweather:400,700&display=swap');

body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 30px;
  
}

h2 {
    font-size: 18px;

}

header, nav, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header, footer {
    
    background-color: #663a82;
    color: #fff;
    padding: 1.25rem;
    
}

header {
    
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

#profilepic {
    width: 175px;
   
} 

footer {
    text-align: center;
    font-family: 'Merriweather', serif;
}

 a.footerlink:visited {
     color:  #a0d8f3;
 }

 a.footerlink.link {
     color: #fff;
 }

 a.footerlink:hover {
     color: yellow;
 }