@media only screen and (min-width: 560px) {

    .sec1, .sec2, .sec3 {
      
        
        padding-bottom: .5rem;
    }

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

div.news {
    clear: both;
    column-count: 2;
    column-rule: 1px solid #ddd;
}


} /* end of media query */