
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } 

/*header rules here*/
header {
    background-color: #d2a679;
    text-align: center;
    padding: 1rem 2%;
    font-family: 'Merriweather', serif;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
    text-align: center;
}

/*main rules here*/

main {
    display: grid; 
    grid-template-columns: 1fr;
    padding: 20px;
}

section {
    background-color: #f9f2ec;
    border-radius: 15px;
    margin-top: 20px;

}

section header {
   background-color: #e6ccb3;
   border-radius: 15px 15px 0px 0px;
}

p {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.5;
        padding: 10px;
}

a {
    word-wrap: break-word;
}

/*img rules here*/
img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    
}

/*footer rules here*/
footer {
    background-color: #d2a679;
    text-align: center;
    padding: .5rem 2%;
    font-family: 'Merriweather', serif;
}




.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
