@media only screen and (min-width: 1024px) {
	
header, nav, main, footer {
	max-width: 54rem;
	margin: auto;
	padding-right: 0;
	padding-left: 0;
	
}

nav ul li a {
	
	padding: .8rem 1.25rem;
}

#large-social {
	max-width: 40rem;
	margin: auto;
}
	
	
	
	
} /*end of media query*/