/*colors used on page*/

$color_1: #ffffea;
$color_2: #8663a7; //main header text color
$color_3: #8663a7; //navigation color. Sub-heading colors also hover border color
$color_4: #63a088; //accent 
$color_5: #b0cfc2; //navigation hover
$color_6: #000000; //navigation active font color
$color_7: #0b0a07; //paragraph text
