/* 64em is also 1028px when basefont is 16px */

@media only screen and (min-width: 64rem) {	
	header, nav, main, footer, #message {
		max-width: 1024px;
		margin: 0 auto;
	}
header h1 {
		padding: 10px;
		font-size: 3rem;
	}
.conpage {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
	
		
main h1, h2, h3 {padding: 0;}

section.weatsum {
	position: static;
	width: 100%;
	text-align: center;
}

section.weatsum h2 {
	text-align: center;
	margin-left: 0px;
	padding-left: 0px;
}

section.weatsum p {
	display: inline;
	
}


	
} /*end large */