/* 64em is also 1028px when basefont is 16px */

@media only screen and (min-width: 64rem) {	
	header, nav, main, footer, #message {
		max-width: 1024px;
		margin: 0 auto;
	}
header h1 {
		padding: 10px;
		font-size: 3rem;
	}

	
		
main h1, h2, h3 {padding: 0;}


	
} /*end large */