/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

    /*moved from medium because it went to a a second line*/
	header img {
		width: 100px;
	}
	
	header h1 {
		padding: 10px;
		font-size: 2.5rem;
	}
	
	header h2 {
		font-size: 1.5rem;
		text-align: left;
	}
		

	
	nav button {display: none;}
		
		nav ul.hide {
			display: block;
		}

		nav ul li {
			float: left;
		}
		
		nav ul li a {
			border: none;
			border-right: 1px solid rgba(0,0,0,0.3);
			padding: .6rem 1rem;
		}
		
		nav ul { display: flex; }
		nav ul li { flex: 1 1 100%; }


		/*----------- Guides Page Rules -------------*/
		div.ourGuides {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}

		
	/*---------------------old ------------------*/
	#artimage {
	display: block;
	float: right;
	width: 330px;
	padding: 3px 15px 3px 3px;
}

#artimageAF {
	display: none;
}
		
		
		
		
		
} /*end medium */