/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*----------------header rules-------------*/
div#wrapHead {
	background-color: #efb392;
}
header {
	
	padding: 10px;
}
header img {
	float: left;
	margin-right: 10px;
	width: 75px;
}


header h1, header h2 {
	color: #000000;
	margin: 0;
	
}

header h1 {
	font-size: 1.75rem;
	font-family: 'Lobster Two', cursive;
	
}

header h2 {
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;	
}

/*-----------------nav rules--------------*/
div#wrapNav {
	background-color: #92ccef;
}


nav button {
	margin: .2rem 2%;
	background-color: transparent;
	border: none;
	font-size: 1.6rem;
	color: rgba(27,120,177);
}

nav {
	font-family: 'Montserrat', sans-serif;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li a {
	display: block;
	padding: .8rem 2%;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: rgba(255,255,255,0.8);
	border-top: 1px solid rgba(27,120,177);
}

nav ul li a:link {
	color: rgba(0,0,0,0.8);
}

nav ul li a:visited {
	color: rgba(0,0,0,0.8);
}

nav ul li a:hover {
	background-color: rgba(88,166,214,0.8);
	color: #fff;
}

nav ul li.active a {
	background-color: rgba(88,166,214,0.8); 
	color: #000;
	}

nav ul.hide {
	display: none;
}

/*----------------main rules here-----------*/

#rapidraft {display: none;}

#rapidraftAF {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}

/*--------Guides Page rules ------------------*/
div.ourGuides {
	display: grid;
	grid-template-columns: 1fr;
	padding: 15px;
	grid-gap: 20px;
	
}

div.ourGuides h2 {text-align: center;}

div.ourGuides section {
	background-color: #d3eaf8;
	padding: 10px;
	box-shadow: 5px 5px 10px 0px #f8e0d3;
}

div.ourGuides section img {
	width: 100%
}

/*------------reservation table -----------*/
thead>tr>th {
text-align: center;
font-size: 2rem;
font-family: 'Lobster Two', cursive;
text-shadow: 2px 2px #efb392;
}

table, th {
	border-collapse: collapse;
	box-shadow: 5px 5px 10px 0px #efb392;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	border: 2px solid #1b78b1;
	background-color: #bcdff5;
	width: 400px;
	text-align: center;
	
}
 tbody {
 font-family: 'Montserrat', sans-serif;
 font-weight: normal;
 }

tr.sub {
	font-size: 1.25rem;
}


/*------------General Rules for all pages------*/
div.showme {
	display: block;
}

div.hideme {
	display: none;
}

main h1 {
	font-family: 'Lobster Two', cursive;
	padding: 0 15px;
	font-size: 2.5rem;
} 

main h2, h3 {
	font-family: 'Montserrat', sans-serif;
	padding: 0 15px;
}


p, section p {
	font-family: 'Montserrat', sans-serif;
	padding: 0 15px;
}

/*--------------------footer rules-----------*/
div#wrapFoot {
	background-color: #efb392;
}
footer {
	
	padding: .5rem 2%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
 footer h3 {
	 color: #000000;
	 
 }

 /*----------------reservation form------------------------*/

form fieldset {
	margin: 2rem 15px;
	border: 1px solid #1b78b1;
	border-radius: 10px;
	padding: .5rem 2%;
	font-family: 'Montserrat', sans-serif;
}

form legend {
	color: #000;
	margin: 0 1rem; 
	padding: 0 .5rem;
	font-weight: bold;
	font-family: 'Lobster Two', cursive;
	font-size: 1.5rem;
}

form label.top, form div {
	display: block;
	padding-top: 1rem;
	color: #000;	
}

form label.top input, form label.top select, textarea {
	-webkit-appearance: none;
	display: block;
	font-size: 1rem;
	border: solid 1px #1b78b1;
	border-radius: 4px;
	padding: .75rem;
	color: #555;
	width: 100%;
	max-width: 20rem;
	background-color: rgba(252,239,233,0.5) ;
	margin: 5px 0 10px 0;
}

form input.submitBtn {
	border: solid 2px #1b78b1;
	background-color: #bcdff5; 
	color: #000;
	border-radius: 1rem;
	box-shadow: 0px 0px 10px 3px #de6321;
	padding: .75rem 1.5rem;
	margin: 0 0 2rem 2%;
	width: 96%;
	max-width: 20rem;
	font-size: 1rem;
	font-weight: bold;
}

form label.top input:required {
	border-left: #de2121 solid 3px;
	border-right: #de2121 solid 3px;
}

form label.top input:required:valid {
	border-left: green solid 3px;
	border-right: green solid 3px;
}

textarea {
	resize: none;
}
/*--------------contact page ----------------*/
.conpage, conpage p {
	display: grid;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

div.contactbox {
	font-weight: normal;
	padding: 10px;
}

#rigmap {
	width: 100%;
	padding: 10px;
}
.contactSub {
	border: solid 1px #1b78b1;
	background-color: rgba(27, 120, 177,0.2); 
	color: #000;
	border-radius: 1rem;
	padding: 10px;
	width: 100%;
	max-width: 10rem;
	font-size: 1rem;
	font-weight: bold;
}
/*-------------Home Page rules --------------*/
.homeHero {
	width: 100%
}

section.weatsum {
	
	margin: auto;
	width: 50%;
	padding: 15px;
	color: rgba(27,120,177,1);
	background-color: #f8e0d3;
	border: 1px solid #1b78b1;
	padding: 0 0 15px 10px;
	border-radius: 5px;
	box-shadow: 0 0 20px;
	opacity: .8;
	font-weight: bold;
	
}

section.weatsum p {
	
	padding: 0 0 0 15px;
	margin: .25rem;
	font-family: 'Montserrat', sans-serif;
}

section.weatsum img {
	width: 25px;
}

.art a:link {
	color: #000;
	text-decoration: none;
}

.art a:hover {
	color: rgba(27,120,177,1);
	text-decoration: underline;
}

.art a:visited {
	color: #efb392;
}

.credits {
	font-style: italic;
}

.art h3 {
	padding: 10px;
}

.artlist {
	list-style-type:square;
	font-family: 'Montserrat', sans-serif;
}

hr {
	border: 1px solid #1b78b1;
}

 div.contactinfo {
	 display: grid;
	 grid-template-columns: 1fr;
 }

div.contactinfo p {
	font-family: 'Montserrat', sans-serif;
	padding: 0 15px;
}

.contactp {
	font-weight: bold;
}
.action {
	text-align: center;
}

/*---------------trips page-----------*/
.alltrips {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
}

.alltrips h2 {
	font-family: 'Lobster Two', cursive;
	text-align: center;
	font-size: 2rem;
	text-shadow: 2px 2px #d3eaf8;
}

.alltrips img {
	width: 100%;
}
.trip1, .trip2, .trip3 {
	background-color: #f8e0d3;
	margin: 10px;
	padding: 10px;
	box-shadow: 5px 5px 10px 0px #d3eaf8;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}